#site-header {
  background-color: black;
}

#navigation {
  -moz-box-shadow: inset 0px 9px 8px -10px black;
  -webkit-box-shadow: inset 0px 9px 8px -10px black;
  box-shadow: inset 0px 9px 8px -10px black;
  background-color: #ececec;
  color: #2c5362;
}

#navigation ul {
  width: 769px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navigation ul li {
  flex: 5;
  text-align: center;
}
